.image{
    width: 150px;
    height: 190px;
}

.card{
    height: 400px;
    width: 200px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 1px 4px 3px rgb(111, 180, 245);
    cursor: pointer;
}

.detail-button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(111, 202, 233);
    color: black;
    transition: 0.3s;
}
.detail-button:hover{
    cursor: pointer;
    background: rgb(41, 182, 230);
    color: #fff;
}